{% extends 'base.html' %}
{% block title %}Change Password With Old Password{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/acc.css' %}">
{% endblock css %}


{% block content %}

<div class="container">
     <div class="row justify-content-center">
		<div class="card card-signin">
      <h1 class="text-center my-4">cientme</h1>
		  <div class="card-body">
		    <form class="form-signin" method="post" novalidate>{% csrf_token %}
          <div class="row form-row">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}
      
            {% for fm in form %}
            {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br><br>
            {% endfor %}
            <div class="form-group">
              <input class="btn btn-danger btn-lg btn-block" type="submit" value="Save "> 
            </div><br> <br>
            

            <a href="{% url 'profile' %}" class="text-center my-5">Profile</a>

            <h5 class="text-center">come together feel together.</h5>
            </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <small {% if message.tags %} class="text-center {{message.tags}} mb-3" {% endif %} >{{message}}</small>
            {% endfor %}
            {% endif %} <br><br>
            naufil1879 
            </div>
          </div>
        </div>
      </div>
{% endblock content %} 