{% extends 'base.html' %}
{% block title %}Cientme Posts{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/acc.css' %}">
<link rel="stylesheet" href="{% static 'social/css/style.css' %}">

{% endblock css %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 mt-2">
                <div class="card  mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>    
                    </div>
                  </div>
              </div> 
        </div>

<div class="post-loop mt-5">
    {% for post in posts %}
    <div class="row justify-content-center  mt-1">
        <div class="col-md-5 col-sm-12 mt-1 postition-relative">
            <div class="card  mb-2">
                <div class="post-link my-2">
                    <a class='post post-link m-3' href="{% url 'post-detail' post.pk %}"></h3>Post</h3></a>
                </div>
                <div class="card-body">
                    <img src="{{ post.author.profile.picture.url }}" class="rounded-circle post-img" width="50" height="50" />
                    <p class="post-text">
                    <a class="edit-color post-link" href="{% url 'profile' post.author.profile.pk %}"><strong>@{{post.author}}</strong>
                    </a>
                </p>
                </div>
                <img class="card-img-top" src="#" alt="Card image cap">
                <!-- likes and slike start here-->
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="fa-regular fa-heart"><span>{{  post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'slike' post.pk %}" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="fa-solid fa-heart"><span>{{  post.slikes.all.count }}</span></i>
                        </button>
                        <a class='post m-1' href="{% url 'post-detail' post.pk %}"><i class="fa-regular fa-comment text-dark"></i></a>
                    </form>
                </div>
    
                 <!-- likes and slike end here-->

                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p><strong>{{post.author}}</strong></p>
                  <p class="card-text">{{post.caption}}</p>
                  <p class="card-text"><small class="text-muted">{{post.created_on}}</small></p>
 
                  <!--card-body of comments start here -->
                  <div class="card-body">
                    {% for comment in comments  %}
                    <img src="{{ comment.author.profile.picture.url }}" class="rounded-circle post-img" width="40"
                        hieight="40" />
                    <p class="post-text">
                        <a class="edit-color post-link"
                            href="{% url 'profile' comment.author.profile.pk %}"><strong>@{{comment.author}}</strong></a>
                    {{comment.comment|truncatewords:5}}
                    {{ comment.created_on }}

            <!-- likes and super like comment start here-->        <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="fa-regular fa-heart"><span>{{  comment.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'comment-slike' post.pk comment.pk %}" >
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="fa-solid fa-heart"><span>{{  comment.slikes.all.count }}</span></i>
                        </button>
                    </form>
                    <!-- likes and super like comment end here-->
                </div>
                </p>
                {% endfor %}
                </div>
                <!--card-body of comments end here. -->

                <!--card-body of comments start here -->   
                  <form action="#"  method="POST" novalidate>
                      {% csrf_token %}
                      {% for fm in form %}
                      {{fm}}{{fm.errors|striptags}} <br><br>
                      {% endfor %}
                      <div class="d-flex">
                          <div class="smile-icon">
                              <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <input type="submit" class="comment-button" value="Post comment">
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'social/js/social.js' %}">
    
</script>
{% endblock js %}