{% extends 'base.html' %}
{% block title %}Delete Post{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/acc.css' %}">
<link rel="stylesheet" href="{% static 'social/css/style.css' %}">
{% endblock css %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
     <div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
        <div class="form-row">
          <img src="{{ post.author.profile.picture.url }}" class="rounded-circle post-img" width="50" height="50" />
                    <p class="post-text">
                    <a class="edit-color post-link" href="{% url 'profile' post.author.profile.pk %}"><strong>@{{post.author}}</strong>
                    </a>
          <h2 class="text-center text-danger mb-4">Are You Sure?</h2>
          <p><strong>You are about to delete this post, this cannot be undone.</strong></p>
          <div class="form-group">
              <form class="form-signin" method="post" novalidate>{% csrf_token %}
              <input class="btn btn-danger btn-lg btn-block" type="submit" value="Delete"> 
            </div><br> <br>
          </form>
        </div>
            <div class="div text-center">
                <a href="{% url 'post-detail' post.pk %}" class="text-dark">Cancel</a>
            </div>
            {% if messages %}
            {% for message in messages %}
            <small {% if message.tags %} class="text-center {{message.tags}} mb-3" {% endif %} >{{message}}</small>
            {% endfor %}
            {% endif %} <br><br>
            </div>
          </div>
        </div>
      </div>
{% endblock content %} 

