<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
      .errorlist{
          color: red;
      }
      .required{
          color: blue;
      }
    </style>
</head>
<body>   
   <form action="" method="POST" novalidate> <!-- novalidate removes htm-5 auto fill condition-->
       {% csrf_token %}
       {{form}}
    <input type="submit" value="Submit">
   </form>
</body>
</html>