<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <style>
        table, th, tr, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <table>
        <h3>Page All Data</h3>
        <th>Page Name</th>
        <th>Page Category</th>
        <th>Publish Date</th>
        <th>Created By</th>
        {% for dt1 in data1 %}
        <tr>
            <td>{{dt1.page_name}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3>Page Filtered By Page Category</h3>
        <th>Page Name</th>
        <th>Page Category</th>
        <th>Publish Date</th>
        <th>Created By</th>
        {% for dt1 in data1 %}
        <tr>
            <td>{{dt1.page_name}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <h3>Page Filtered By Username</h3>
        <th>Page Name</th>
        <th>Page Category</th>
        <th>Publish Date</th>
        <th>Created By</th>
        {% for dt1 in data1 %}
        <tr>
            <td>{{dt1.page_name}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>