<div class="container">
<nav class="navbar navbar-danger bg-danger my-2">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><span class="material-icons">
            search
            </span></span>
        </div>
        <input type="text" class="form-control" placeholder="Username"
        
        aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>
    <span class="material-icons">
        add_circle
        </span>
 
  </nav>
</div>
