<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            width: 12rem;
            height: 2.5rem;
            background-color: red;
            
        }
       
    </style>
</head>
<body>
   <center> 
        <h1>Home Page</h1>
        <h2>Your Name {{name}}</h2>
        <h2>Your Roll {{roll}}</h2>
        <h2>Your Course {{course}}</h2>
        <h2>Your Class {{cl}}</h2>
        <h2>Your Full Path url is (http://127.0.0.1:8000/home/{{cl}}/{{slug}})</h2>
</center>
</body>
</html>