{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .detele{
        width: 23.8vw;
        
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <a href="{% url 'post-detail' object.pk %}" class="btn btn-dark text-light"> Back to Post
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <h1 class="heading">Are You Sure?</h1>
                <p>You are about to detele this comment, this cannot be undone</p>
                <div class="d-grad gap-2 mt-2">
                    <button class="detele btn btn-danger">Detele</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
